body {
    padding-top: 80px;
    background: #f5f5f5;
}

.container{

}

#footer {
    padding: 20px;
    color: #999;
}

#main {
    min-height: 768px;
    margin-bottom: 50px;
    background: #fff;
    border: 1px solid #d9d9d9;
    padding-bottom: 50px;
    padding-top: 15px;
}

.mgmt-staff h4 {
    padding: 20px 0 0 0;
    margin: 0px;
}

.album img {
    max-height: 300px;
}

.albumtitle {
    display: block;
    padding: 10px 0px;
}

.navbar-brand {
    font-weight: bold;
}

.pmtc-background {
    padding: 0 20px;
    text-align: justify;
}
.pmtc-background li{
    margin-bottom: 10px;
}