@font-face {
	font-family: "Flaticon";
	src: url("../fonts/flaticon.eot");
	src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/flaticon.woff") format("woff"),
	url("../fonts/flaticon.ttf") format("truetype"),
	url("../fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
/*margin-left: 20px;*/
}.flaticon-add:before {
	content: "\e000";
}
.flaticon-application5:before {
	content: "\e001";
}
.flaticon-application6:before {
	content: "\e002";
}
.flaticon-bank12:before {
	content: "\e003";
}
.flaticon-bitcoin71:before {
	content: "\e004";
}
.flaticon-business139:before {
	content: "\e005";
}
.flaticon-business155:before {
	content: "\e006";
}
.flaticon-cash1:before {
	content: "\e007";
}
.flaticon-cashier:before {
	content: "\e008";
}
.flaticon-cashier1:before {
	content: "\e009";
}
.flaticon-certificate7:before {
	content: "\e00a";
}
.flaticon-chart8:before {
	content: "\e00b";
}
.flaticon-checkbox4:before {
	content: "\e00c";
}
.flaticon-classroom:before {
	content: "\e00d";
}
.flaticon-classroom1:before {
	content: "\e00e";
}
.flaticon-computer118:before {
	content: "\e00f";
}
.flaticon-computer134:before {
	content: "\e010";
}
.flaticon-computer80:before {
	content: "\e011";
}
.flaticon-data26:before {
	content: "\e012";
}
.flaticon-dollar150:before {
	content: "\e013";
}
.flaticon-euro50:before {
	content: "\e014";
}
.flaticon-female188:before {
	content: "\e015";
}
.flaticon-homework:before {
	content: "\e016";
}
.flaticon-login1:before {
	content: "\e017";
}
.flaticon-mathematic:before {
	content: "\e018";
}
.flaticon-multiple25:before {
	content: "\e019";
}
.flaticon-server14:before {
	content: "\e01a";
}
.flaticon-settings48:before {
	content: "\e01b";
}
.flaticon-student7:before {
	content: "\e01c";
}
.flaticon-students17:before {
	content: "\e01d";
}
.flaticon-students3:before {
	content: "\e01e";
}
.flaticon-supermarket13:before {
	content: "\e01f";
}
.flaticon-teach:before {
	content: "\e020";
}
.flaticon-two128:before {
	content: "\e021";
}
.flaticon-users6:before {
	content: "\e022";
}
