html, body {
	height:100%;
}

#myCarousel {
    border: 2px solid #161138;
}

.carousel,
.item,
.active {
	height:100%;
}

.carousel-inner {
	height:100%;
}

.fill{
	width:100%;
	height:100%;
	background-position: center;
	background-size: cover;
}

.fill img{
    width: 100%;
}

.section {
	margin: 50px 0;
}

footer {
	margin: 50px 0;
}